* {
  box-sizing: border-box;
}

html {
  background-image: url("../Bonjour/images/about_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(60%);
  mix-blend-mode: darken;
}

.menu {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul li {
  text-align: end;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-family: "Raleway", sans-serif;
}

/* Dropdown */
.dropdown {
  position: relative;
  display:inline-block;
}

.dropdownLinks {
  display: none;
  position: absolute;
  /* min-width: 160px; */
  z-index: 1;
}

.dropdownLinks a {
  background-color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
}

.dropdownLinks a:hover {
  background: gray;
}

.dropdown:hover .dropdownLinks {
  display: block;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Carrois Gothic SC", sans-serif;
  color: white;
  text-shadow: 10px 10px 10px black;
}

img {
  border-radius: 50%;
  top: 50%;
  margin-right: 200px;
}

.container {
  display: inline-flex;
  font-size: 30px;
  margin-right: 100px;
  color: white;
}

p {
  display: block;
  color: lightgray;
  text-shadow: 2px 2px 2px grey;
  margin-top:70px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 200px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  ul li {
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    list-style-type: none;
  }
  .container {
    display: contents;
    text-align: center;
  }
  img {
    width: 350px;
  }
  p{
    font-size: 20px;
    color:whitesmoke;
  }
}

@media screen and (min-width: 601px) and (max-width: 1715px) {


  ul li {
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    /* font-size: 12px; */
    list-style-type: none;
  }
  .container {
    display: contents;
    text-align: center;
    margin: auto;
  }
  h1 {
    font-size:80px;
  }
  img {
    width: 65%;
    display:flex;
    margin:auto;
  }
  p{
    font-size:20px;
    margin:20%;
  }
}
