* {
  box-sizing: border-box;
}

html {
  background-image: url("../Bonjour/images/contact3.png");
  background-image: url("images/contact3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.menu {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul li {
  text-align: end;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-family: "Raleway", sans-serif;
}

/* Dropdown */
.dropdown {
  position: relative;
  display:inline-block;
}

.dropdownLinks {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdownLinks a {
  background-color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
}

.dropdownLinks a:hover {
  background: gray;
}

.dropdown:hover .dropdownLinks {
  display: block;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin: 0 20% 0 20%;
  text-shadow: 5px 5px 20px black;
  text-transform: uppercase;
}

form {
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
  color: snow;
}

h1 {
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  text-shadow: 10px 10px 10px black;
}

label {
  font-size: 30px;
  font-family: "Carrois Gothic SC", sans-serif;
  color:black;
}

p {
  font-size: 20px;
  font-family: "Carrois Gothic SC", sans-serif;
  color: black;
}

.subtext {
  font-size: 12px;
}

input,
select,
#phone,
#comment {
  width: 30%;
  height: 50%;
  padding: 12px 20px;
}

input[type="submit"] {
  margin-top: 30px;
}

#comment {
  height: 200px;
}

button {
  width: 15%;
  height: 50%;
  padding: 12px 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 200px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  ul li {
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    list-style-type: none;
  }
  h1 {
    font-size:80px;
  }
  .container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    text-shadow: 5px 5px 20px black;
    text-transform: uppercase;
  }
  input,
  select,
  #phone {
    width: 100%;
    height: 50%;
    padding: 12px 20px;
  }

  #comment {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin-bottom: 20px;
  }

  button {
    width: 30%;
    height: 50%;
    padding: 12px 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    text-shadow: 5px 5px 20px black;
    text-transform: uppercase;
  }
  input,
  select,
  #phone {
    width: 60%;
    height: 50%;
    padding: 12px 20px;
  }

  #comment {
    width: 60%;
    height: 200px;
    padding: 12px 20px;
    margin-bottom: 20px;
  }

  button {
    width: 30%;
    height: 50%;
    padding: 12px 20px;
  }
}

@media screen and (min-width: 921px) and (max-width: 1750px) {
  ul li {
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    /* font-size: 12px; */
    list-style-type: none;
  }
  .container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100%;
    margin: 0;
    text-shadow: 5px 5px 20px black;
    text-transform: uppercase;
  }
}
