* {
  box-sizing: border-box;
}

html {
  background-image: url("../Bonjour/images/home_food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.menu {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul li {
  text-align: end;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  list-style-type: none;
}

.title {
font-family: 'Ribeye Marrow', cursive;
}

/* Dropdown */
.dropdown {
  position: relative;
  display:inline-block;
}

.dropdownLinks {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdownLinks a {
  background-color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
}

.dropdownLinks a:hover {
  background: gray;
}

.dropdown:hover .dropdownLinks {
  display: block;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-family: "Raleway", sans-serif;

}

h1 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 115px;
  color: white;
  transform: translate(-5%, -10%); 
  text-shadow: 10px 10px 10px black;
  word-spacing: 50px;
  perspective: 75em;
  --animate-duration: 2s;
  word-spacing: 40px;
}

.animate__animated.animate__slideInDown{
  --animate-duration: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 30%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  ul li {
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    list-style-type: none;
  }
  html {
    background-image: url("../Bonjour/images/home_food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  h1 {
    text-align: center;
    /* display: contents; */
    display:flex;
    font-size: 60px;
  }
  .animate__animated.animate__slideInDown{
    --animate-duration: 2s;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; */
    top: 25%;
    left: 10%;
    width:auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  html {
    height: -webkit-fill-available;
  }
  h1 {
    text-align: center;
  }
  menu {
    position: fixed;
  }
}

@media screen and (min-width: 768px) and (max-width: 1867px) {
  html {
    height: 100%;
  }
  h1 {
    text-align: center;
    font-size:100px;
    margin-top:150px;
  }
  ul li {
    text-align: end;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    list-style-type: none;
  }
  .animate__animated.animate__slideInDown{
    --animate-duration: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 20%;
    right:10%;
  }
  menu {
    position: fixed;
  }
}
