* {
    box-sizing: border-box;
  }
  
  /* html {
    background-image: url("images/beverages2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.95;
  } */

  html { 
    background: url("images/beverages2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .menu {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  ul li {
    text-align: end;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-family: "Raleway", sans-serif;
  }

  /* Dropdown */
.dropdown {
  position: relative;
  display:inline-block;
}

.dropdownLinks {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdownLinks a {
  background-color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
}

.dropdownLinks a:hover {
  background: gray;
}

.dropdown:hover .dropdownLinks {
  display: block;
}
  


  img {
    width: 50%;
    opacity: 0.95;
    display: flex;
    border-radius: 70%;
    border-color: transparent;
    box-shadow: 5px 10px 10px 10px black;
    outline: none;
  }
  
  h1 {
    font-family: "Carrois Gothic", sans-serif;
    color: white;
    text-align: center;
    font-size: 110px;
    text-shadow: 10px 10px 10px black;
  }
  
  .subheader {
    font-size: 47px;
    color: black;
  }
  
  h2 {
    font-family: "Carrois Gothic", sans-serif;
    text-align: center;
    color: black;
    font-size: 50px;
    text-shadow: 2px 5px 5px silver;
    border: none;
  }

  h3 {
    font-family: "Carrois Gothic", sans-serif;
      text-align: center;
      font-size: 36px;
      color:whitesmoke;
      text-shadow: 7px 2px 5px black;
      margin-top:-10px;
  }

  h4 {
    font-size: 15px;
    font-style: italic;
    color: white;
    text-shadow: 2px 5px 5px black;
    text-align: center;
  }

  .row {
      display: flex;
  }

  .column {
      flex: 50%;
      padding:10px;
      line-height:2;
  }
  
  button {
    font-family: "Carrois Gothic", sans-serif;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 5px 5px whitesmoke;
    border: none;
    background-color: transparent;
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
    /* margin-top: 200px; */
    position: absolute;
    bottom: -500px;
    width: 100%;
    /* clear: both;
    position: absolute;
    bottom: 0; */
  }

  @media screen and (max-width: 600px) {
    html {
      background-size:cover;
      background-position:initial;
      height:100%;
    }
    ul li {
      text-align: center;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      list-style-type: none;
    }
    h1 {
      font-size:60px;
    }
    h3 {
      font-size:20px;
      text-align: center;
    }
    footer {
      background-color: black;
      color: white;
      text-align: center;
      /* margin-top: 200px; */
      position: absolute;
      bottom: -220px;
      width: -webkit-fill-available;
      /* width: 100%; */
      margin: auto;
      /* clear: both;
      position: absolute;
      bottom: 0; */
    }
  }

  @media screen and (max-width: 768px) {
    html {
      background-size: cover;
      background-position: center;
      background-repeat: initial;
      height: -webkit-fill-available;
    /* width: 100%;
    min-height: 100%;
    min-width: px; */
    /* top: 0;
    left: 0;
    position: fixed; */
    }
    .menu {
      background-color: black;
      padding-top: 15px;
      padding-bottom: 15px;
      /* display: flex;
      justify-content: center; */
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1867px) {
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size:25px;
    }
  }
  