* {
  box-sizing: border-box;
}

/* html {
  background-image: url("images/reservationII.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top:5px;
} */

html { 
  background: url(images/reservationII.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul li {
  text-align: end;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-family: "Raleway", sans-serif;
}

/* Dropdown */
.dropdown {
  position: relative;
  display:inline-block;
}

.dropdownLinks {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdownLinks a {
  background-color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
}

.dropdownLinks a:hover {
  background: gray;
}

.dropdown:hover .dropdownLinks {
  display: block;
}

.container {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  width: 60%;
  margin: 0% 20% 0 20%;
  text-shadow: 5px 5px 20px black;
  text-transform: uppercase;
  margin-top:400px;
}

form {
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
  color: snow;
  margin-top:-300px;
}

h1 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 70px;
  color: white;
  text-shadow: 10px 10px 10px black;
}

label {
  font-size: 30px;
  font-family: "Carrois Gothic SC", sans-serif;
}

p {
  font-size: 20px;
  font-family: "Carrois Gothic SC", sans-serif;
  color: snow;
  text-shadow: black;
}

.instructions {
  color: ghostwhite;
  text-shadow: 10 10 grey;
}

.subtext {
  font-size: 12px;
}

#restype,
#party1,
#party2,
#restime{
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

input,
select{
  width: 30%;
  height: 50%;
  padding: 12px 20px;
  text-align: center;
}

#date {
  margin-bottom: -25px;
}

#time {
  margin-bottom: 10px;
  color: black;
}

button {
  width: 15%;
  height: 50%;
  padding: 12px 20px;
  outline: none;
}

button {
  text-align: center;
  border:none;
  background-color: transparent;
  font-family: "Carrois Gothic SC", sans-serif;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-size: 47px;
  text-shadow: 2px 5px 5px silver;
  display: flex;
  margin: auto;
  outline: none;
}

button:hover {
  text-shadow: -10px 20px 10px black;
  outline: none;
}

p.hide {
  display:none;
}

#select:hover .hide {
  display:flex;
  justify-content: center;
  color:black;
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  ul li {
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    list-style-type: none;
  }

  html {
    background-image: url("images/reservationII.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .menu {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 50px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:95%;
    margin:0;
    text-shadow: 5px 5px 20px black;
    text-transform: uppercase;
    margin-top:400px; 
  } 
  input,
  select {
    width: 70%;
    height: 50%;
    padding: 12px 20px;
  }
  button {
    width: 35%;
    height: 50%;
    padding: 12px 20px;
  }
  b {
    margin-top: 100px;
  }
  strong {
    color: white;
    font-size: 15px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1600px) {
  ul li {
    text-align: end;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    list-style-type: none;
  }

  html {
    background-image: url("images/reservationII.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  h1 {
    font-size: 50px;
  }

  .container {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    margin: 50% 20% 0 25%;
    text-shadow: 5px 5px 20px black;
    text-transform: uppercase;
    margin-top:400px;
  }
  input,
  select {
    width: 70%;
    height: 50%;
    padding: 12px 20px;
  }
  button {
    width: 35%;
    height: 50%;
    padding: 12px 20px;
  }
  b {
    margin-top: 100px;
  }
  strong {
    color: white;
    font-size: 15px;
  }
}
