* {
    box-sizing: border-box;
  }
  
  html {
    background-image: url("../Bonjour/images/tables.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity:0.9;
    height:100%;
    scroll-behavior: smooth;
  }

  .menu {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  ul li {
    text-align: end;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-family: "Raleway", sans-serif;
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
    display:inline-block;
  }
  
  .dropdownLinks {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdownLinks a {
    background-color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    text-align: left;
  }
  
  .dropdownLinks a:hover {
    background: gray;
  }
  
  .dropdown:hover .dropdownLinks {
    display: block;
  }

h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:45px;
    text-shadow: 5px 2px 2px grey;
    color: black;
}

ul.list .occupied::before {
    content: "OCCUPIED";
    background-color: red;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}

ul.list .vacant::before {
    content: "VACANT";
    background-color: green;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    
}

ul.list .occupied,
ul.list .vacant {
    width:20%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:20px;
    list-style: none;
    color:black;
    text-shadow: 2px 2px 2px lightgrey;
    font-weight: 700;
}

.occupied,
.vacant {
    float: left;
    margin-top:40px;
    text-align: -webkit-center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 200px;
    position: absolute;
    bottom: -200px;
    width: 100%;
  }

@media screen and (max-width: 600px) {
    .occupied,
    .vacant {
        margin:20px;
        float:left;
        display: inline-table;
    }
    
    ul li {
          text-align: center;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          font-size: 10px;
          list-style-type: none;
        }
      
        html {
          background-image: url("../Bonjour/images/tables.jpg");
          background-repeat: repeat;
          background-size: cover;
          background-position: center;
          margin:0;
          height: 100%;    
        }
        .menu {
          background-color: black;
          padding-top: 15px;
          padding-bottom: 15px;
          display: flex;
          justify-content: center;
        }
      
        h1 {
          font-size: 50px;
        }
      
        .container {
          background-color: black;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width:100%;
          margin:0;
          text-shadow: 5px 5px 20px black;
          text-transform: uppercase;
          margin-top:400px; 
        } 
        footer {
            position: absolute;
            bottom: -950px;
            left:0;
        }
    }
    @media screen and (min-width: 769px) {
        html {
            height:-webkit-fill-available;
        }
    }
